# copy and rename this to `config.yaml`
# make sure save as `utf-8` encoding

translator:
  baidu:
    key: ""
    secret: ""
  alibaba:
    key: ""
    secret: ""
    region: cn-beijing
  tencent:
    key: ""
    secret: ""
    region: ap-beijing
    project: 0
  volcengine:
    key: ""
    secret: ""
    region: cn-beijing
  niutrans:
    secret: ""
